<h1>Buttons</h1>
<h2>DEFAULT SIZE</h2>
<div class="display-container">
  <litestyled-button>button</litestyled-button>
  <litestyled-button color="primary">button</litestyled-button>
  <litestyled-button color="secondary">button</litestyled-button>
  <litestyled-button color="success">button</litestyled-button>
  <litestyled-button color="warning">button</litestyled-button>
  <litestyled-button color="danger">button</litestyled-button>
</div>
<h2>SMALL SIZE</h2>
<div class="display-container">
  <litestyled-button size="small">button</litestyled-button>
  <litestyled-button size="small" color="primary">button</litestyled-button>
  <litestyled-button size="small" color="secondary">button</litestyled-button>
  <litestyled-button size="small" color="success">button</litestyled-button>
  <litestyled-button size="small" color="warning">button</litestyled-button>
  <litestyled-button size="small" color="danger">button</litestyled-button>
</div>
<h2>LARGE SIZE</h2>
<div class="display-container">
  <litestyled-button size="large">button</litestyled-button>
  <litestyled-button size="large" color="primary">button</litestyled-button>
  <litestyled-button size="large" color="secondary">button</litestyled-button>
  <litestyled-button size="large" color="success">button</litestyled-button>
  <litestyled-button size="large" color="warning">button</litestyled-button>
  <litestyled-button size="large" color="danger">button</litestyled-button>
</div>
<h2>VARIANT OUTLINED</h2>
<div class="display-container">
  <litestyled-button variant="outlined" size="large">button</litestyled-button>
  <litestyled-button variant="outlined" size="large" color="primary"
    >button</litestyled-button
  >
  <litestyled-button variant="outlined" size="large" color="secondary"
    >button</litestyled-button
  >
  <litestyled-button variant="outlined" size="large" color="success"
    >button</litestyled-button
  >
  <litestyled-button variant="outlined" size="large" color="warning"
    >button</litestyled-button
  >
  <litestyled-button variant="outlined" size="large" color="danger"
    >button</litestyled-button
  >
</div>
<h2>WITH CUSTOM STYLE</h2>
<div class="display-container">
  <litestyled-button
    [style]="{ color: 'orange', paddingLeft: '100px' }"
    variant="outlined"
    size="large"
    >button</litestyled-button
  >
  <litestyled-button
    [style]="{ backgroundColor: 'pink' }"
    class="some-class"
    variant="outlined"
    size="large"
    >button</litestyled-button
  >
</div>
<h2>DISABLED</h2>
<div class="display-container">
  <litestyled-button color="primary" [disabled]="true"
    >button</litestyled-button
  >
  <litestyled-button color="danger" variant="outlined" [disabled]="true"
    >button</litestyled-button
  >
</div>
<h2>WITH SPINNER</h2>
<div class="display-container">
  <litestyled-button variant="outlined" size="large"
    >button<litestyled-spinner></litestyled-spinner
  ></litestyled-button>
  <litestyled-button size="large" color="primary"
    ><litestyled-spinner></litestyled-spinner>button</litestyled-button
  >
  <litestyled-button variant="outlined" size="large" color="secondary"
    >button<litestyled-spinner></litestyled-spinner
  ></litestyled-button>
  <litestyled-button size="large" color="success"
    >button <litestyled-spinner></litestyled-spinner
  ></litestyled-button>
  <litestyled-button variant="outlined" size="large" color="warning"
    ><litestyled-spinner
  /></litestyled-button>
  <litestyled-button size="large" color="danger"
    ><litestyled-spinner />Button</litestyled-button
  >
</div>
